<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/game}" method="get">
        <h1>Welcome <span th:text="${param.name}"></span> </h1>
    <h2>Today's Word is <span th:text=" ${word.word}"></span></h2>
    <h1><p th:text="${word.desc}"></p></h1>
    <!--    <h3>Hint : .............. | Hint : ......................</h3>-->
    <input type="text" name="word" autofocus>
    <button type="submit">Check</button>
</form>
</body>
<!--<script>-->
<!--    async function getRandomWord() {-->
<!--      const response = await fetch('http://localhost:8080/game');-->
<!--      const data = await response.json();-->
<!--    }-->
<!--    getRandomWord();-->
<!--</script>-->
</html>