<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/test}" method="get">
        <h1>Welcome <span th:text="${name}"></span> </h1>
    <h2>Today's Word is <span th:text=" ${word.word}"></span></h2>
    <h1><p th:text="${word.hint[1]}"></p></h1>
    <input type="text" name="answer" autofocus>
    <div th:if="${param.answer}">
        <h2 th:text="${param.answer}"></h2>
    </div>
    <button type="submit">Check</button>
</form>
</body>
</html>